{% extends "base.html" %}
{% load latexify %}
{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% load static %}
{% block content %}
  <div class="container">
    <h4 class="fw-bold text-center">On-line výpočet</h4>
    <form class="bg-white px-4" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Nastavení testu
            </div>
            <div class="card-body">
              <div id="div_sample_no">
                {% include "partials/sample_no.html" %}
              </div>
              <div id="div_sample_no">
                {% include "partials/measure.html" %}
              </div>
              <div>
                {% include "partials/test_list.html" %}
              </div>
              <div class="mt-3 mb-3">
                <button type="submit" class="btn btn-primary">Spusť výpočet</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Data
            </div>
            <div class="card-body">
              {% include "partials/data.html" %}
            </div>
          </div>
        </div>
        <div class="col">
          {% if results %}
            {% include "partials/results.html" %}
          {% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
