<p class="fw-bold">S jakým statistickým ukazatelem chcete pracovat?</p>
<div class="form-check mb-2">
  <input class="form-check-input" type="radio" name="sample_no" id="id_rad_measure_mean" value="mean"/>
  <label class="form-check-label" for="id_rad_measure_mean">
    průměr
  </label>
</div>
<div class="form-check mb-2">
  <input class="form-check-input" type="radio" name="sample_no" id="id_rad_measure_var" value="var" />
  <label class="form-check-label" for="id_rad_measure_var">
    rozptyl
  </label>
</div>
