<p class="fw-bold">Můžete použít jeden z následujících testů:</p>
<div id="available_tests">
</div>

<p class="fw-bold">Doplňte parametry testu:</p>
<div class="row" id="test_parameters">
</div>

<script>
    const col_class = "col-lg-6";
    const param_values = {
        {% for id, value in param_data.items %}
            {{ id }}: '{{ value }}' {% if not forloop.last %},{% endif %}
        {% endfor %}
    }

    const add_test_param_field = (parameter_obj, test_parameters) => {
        const div_el = document.createElement("div");
        div_el.className = col_class;
        const label_el = document.createElement("label");
        label_el.className = "form-label";
        label_el.appendChild(document.createTextNode(parameter_obj["label"]));
        div_el.appendChild(label_el);

        if (parameter_obj["type"] === "alternative") {
            const select_el = document.createElement("select");
            select_el.className = "form-select";
            select_el.name = `param_${parameter_obj["id"]}`;

            const text_list = [["neq", "není rovno"], ["lt", "menší než"], ["gt", "větší než"]];
            for (const option of text_list) {
                const option_el = document.createElement("option");
                option_el.appendChild(document.createTextNode(option[1]));
                option_el.value = option[0];
                select_el.appendChild(option_el);
            }
            div_el.appendChild(select_el);

        } else if (parameter_obj["type"] === "float") {
            const input_el = document.createElement("input");
            input_el.className = "form-control";
            if (param_values[`param_${parameter_obj["id"]}`]) {
                input_el.value = param_values[`param_${parameter_obj["id"]}`];
            } else {
                input_el.placeholder = "0";
            }
            input_el.name = `param_${parameter_obj["id"]}`;
            div_el.appendChild(input_el);
        }
        test_parameters.appendChild(div_el);
    }

    const add_test_param_fields = (data, test_parameters) => {
        for (const parameter of data["test_parameters"]) {
            add_test_param_field(parameter, test_parameters);
        }
    }

    const request_parameters_list = (test_slug, test_parameters) => {
        console.log("selected");
        fetch(`http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/spark-calc/test-params/${test_slug}`)
            .then(response => response.json())
            .then(data => add_test_param_fields(data, test_parameters))
    }

    const available_tests = document.getElementById("available_tests");
    const test_parameters = document.getElementById("test_parameters");
    let selected_test = "";

    const add_test_list = (data) => {
        for (const child of available_tests.childNodes) {
            available_tests.removeChild(child);
        }
        for (const test of data["test_list"]) {
            const form_element = document.createElement("div");
            form_element.className = "form-check mb-2";

            const input = document.createElement("input");
            input.className = "form-check-input";
            input.type = "radio";
            input.name = "test";
            input.id = `id_rad_test_${test['slug']}`;
            input.value = test["slug"];
            {% if input_data.test %}
                if (test["slug"] === "{{ input_data.test }}") {
                    input.checked = true;
                    selected_test = input.value;
                }
            {% endif %}
            input.addEventListener("click", () => {
                if (selected_test !== input.value) {
                    request_parameters_list(input.value, test_parameters);
                }
                selected_test = input.value;
            });

            const label = document.createElement("label");
            label.className = "form-check-label";
            label.setAttribute("for", `id_rad_test_${test}`);

            const test_name = document.createTextNode(test["name"]);

            label.appendChild(test_name);
            form_element.appendChild(input);
            form_element.appendChild(label);
            available_tests.appendChild(form_element);
            if (input.checked) {
                request_parameters_list(input.value, test_parameters);
            }
        }
    };

    const request_test_list_init = () => {
        fetch('{% url "test_list" %}')
            .then(response => response.json())
            .then(data => add_test_list(data))
    }

    const update_request_parameters = (changed_parameter, new_value) => {
        if (changed_parameter === "sample_no") {
            request_parameters.sample_no = new_value;
        } else if (changed_parameter === "measure") {
            request_parameters.measure = new_value;
        }
    }

    const request_test_list = (changed_parameters) => {
        let request_url = new URL(`http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/spark-calc/test-list`);
        update_request_parameters(changed_parameters.changed_parameter, changed_parameters.new_value);
        if (request_parameters.sample_no) {
            request_url.searchParams.append("sample_no", request_parameters.sample_no);
        }
        if (request_parameters.measure) {
            request_url.searchParams.append("measure", request_parameters.measure);
        }
        fetch(String(request_url))
            .then(response => response.json())
            .then(data => add_test_list(data))
    }
    request_test_list_init();
    document.addEventListener("event_change_test_params", request_test_list);
</script>
