{% extends "base.html" %}
{% load latexify %}
{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% load static %}
{% block content %}
  {% include "partials/small_header.html" %}

  <main class="container my-5">
    <section>
      {% for section in object_list %}
        <a href="{% url 'section' section.slug %}" style="color: black;">
          <h2 class="fw-bolder mb-3">{{ section.title }}</h2>
        </a>
        <ul>
          {% for article in section.article_set.all %}
            {% include "partials/article_link.html" with article=article %}
          {% endfor %}
        </ul>
      {% endfor %}
    </section>
  </main>
{% endblock %}
