{% extends "base.html" %}
{% load latexify %}
{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% load static %}
{% block content %}

  {% include "partials/small_header.html" %}

  <main class="container my-5">
    <div class="row">
      <div class="col-md-9">
        <article class="article-content">
          <h2>{{ object.title }}</h2>
          {{ object.content_html | safe }}
        </article>
      </div>

      <div class="col-md-3">
        <aside class="article-sidebar">
          <h3>Další články</h3>
          <ul>
            {% for article in object.section.article_set.all %}
              <li><a href="{% url 'article' article.slug %}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
          <div id="ssp-zone-2"></div>
        </aside>
      </div>
    </div>
  </main>

  <script>
      sssp.getAds([
          {
              "zoneId": 2,
              "id": "ssp-zone-2",
              "width": 300
          }
      ]);
  </script>
{% endblock %}
