{% extends "base.html" %}
{% load latexify %}
{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% load static %}
{% block content %}
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-9">
          <article>
            <header class="mb-4">
              <h1 class="fw-bolder mb-1">{{ object.title }}</h1>
{#              <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>#}
            </header>
            <figure class="mb-4"><img src="{% static 'img/economy.jpg' %}"/></figure>
            <section class="mb-5">
              {{ object.content_html | safe }}
            </section>
          </article>
        </div>
        <div class="col-lg-3">
          <div class="d-flex align-items-center mt-lg-5 mb-4">
            <ul class="nav flex-column">
              {% for link in object.header_links %}
                <li class="nav-item">
                  <a href="#{{ link.0 }}" class="nav-link">
                    {{ link.1 }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
