{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundamentals of Statistics</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <link href="{% static 'css/statistika_jednoduse.css' %}" rel="stylesheet"/>
  <script src="https://ssp.seznam.cz/static/js/ssp.js"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-153169092-1');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1393582100059105"
          crossorigin="anonymous">
  </script>
</head>
<body>
{% block content %}
{% endblock %}
<footer>
  <p>&copy; <a href="{% url 'index' %}">2024 StatistikaJednoduše.cz</a></p>
  <p>Jiří Pešík, IČO O08831483, Manětínská 1493/5, 323 00, Plzeň - Bolevec, info@statistikajednoduse.cz</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
