{% extends "base.html" %}
{% load static %}
{% block content %}
  <header class="hero">
    <h1><a href="{% url 'index' %}">Statistika jednoduše</a></h1>
    <p>Web s články o testování statistických hypotéz a ekonomickém modelování.</p>
    <a href="{% url 'all_articles' %}" class="btn btn-light mt-3">Explore Articles</a>
  </header>

  <main class="container my-5">
    <section id="articles" class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{% static 'images/logo-1.webp' %}" class="card-img-top" alt="Introduction to Statistics">
          <div class="card-body">
            <h5 class="card-title">Úvod do statistiky</h5>
            <p class="card-text">Tato sekce zatím obsahuje pouze článek o <a href="{% url 'article' 'rozptyl' %}">rozptylu</a>.
            </p>
            <a href="{% url 'section' 'uvod' %}" class="btn btn-primary">Prozkoumat</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{% static 'images/logo-2.webp' %}" class="card-img-top" alt="Probability Concepts">
          <div class="card-body">
            <h5 class="card-title">Úvod do testování hypotéz</h5>
            <p class="card-text">Základní princip statistických testů je vysvětlen na příkladě
              <a href="{% url 'article' 'z-test' %}">z-testu</a>,
              můžete si zde přečíst i o
              <a href="{% url 'article' 'chyby-pri-testovani' %}">chybách při testování</a></p>
            <a href="{% url 'section' 'testovani-hypotez' %}" class="btn btn-primary">Prozkoumat</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{% static 'images/logo-3.webp' %}" class="card-img-top" alt="Data Visualization">
          <div class="card-body">
            <h5 class="card-title">Dvouvýběrové testy</h5>
            <p class="card-text">Zde jsou články o dvouvýběrových testech na střední hodnotu
              (<a href="{% url 'article' 't-test-parovy' %}">párový t-test</a>,
              <a href="{% url 'article' 't-test-dvouvyberovy' %}">dvouvýběrový t-test</a>,
              <a href="{% url 'article' 'welchuv-test-dvouvyberovy' %}">Welchův t-test</a>).</p>
            <a href="{% url 'section' 'dvouvyberove-testy' %}" class="btn btn-primary">Prozkoumat</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{% static 'images/logo-4.webp' %}" class="card-img-top" alt="Data Visualization">
          <div class="card-body">
            <h5 class="card-title">DSGE modely</h5>
            <p class="card-text">V této části webu najdete články o
              <a href="{% url 'article' 'metodologie-moderni-ekonomie' %}"> metodologii moderní ekonomie</a>,
              <a href="{% url 'article' 'zakladni-myslenka-dsge' %}">DSGE modelech</a> a
              <a href="{% url 'article' 'lucasova-kritika' %}">Lucasově kritice</a>.
            </p>
            <a href="{% url 'section' 'dsge-modely' %}" class="btn btn-primary">Prozkoumat</a>
          </div>
        </div>
      </div>
    </section>
    <div id="ssp-zone-374425"></div>
  </main>
    <script>
      sssp.getAds([
          {
              "zoneId": 374425,			/* unikátní identifikátor reklamní zóny */
              "id": "ssp-zone-374425",	/* ID elementu, do kterého se vypisuje reklama */
              "width": 970,	/* maximální šířka reklamy v zóně */
              "height": 210	/* maximální výška reklamy v zóně */
          }
      ]);
  </script>
{% endblock %}
