{% extends "base.html" %}
{% block content %}

<div class="tile is-ancestor">
  <div class="tile is-vertical is-4 has-background-primary-light">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <p class="title">Jednovýběrové testy</p>
          <p class="subtitle">Testy, ve kterých pracujeme s jedním souborem dat</p>
          <ul>
            <li>Oboustranný z-test</li>
          </ul>
        </article>
      </div>
</div>

{% endblock %}
