{% extends "base.html" %}
{% load latexify %}
{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% load static %}
{% block content %}

  {% include "partials/small_header.html" %}

  <main class="container my-5">
    <section>
      <h2>{{ object.title }}</h2>
        <ul>
          {% for article in object.article_set.all %}
            {% include "partials/article_link.html" with article=article %}
          {% endfor %}
        </ul>
    </section>
  </main>
{% endblock %}
